@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #205cff;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #040e4e;
}

html,
body {
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 300vh;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-size: clamp(28px, 15vw, 40px);
  font-weight: 200;
}

.nav {
  position: absolute;
  z-index: 99;
  width: 100vw;
}

.nav nav {
  width: 100%;
}

.nav nav .navbar-toggler:focus {
  outline: none !important;
}

nav {
  width: 100%;
}

nav .navbar-toggler:focus {
  outline: none !important;
}

.accentText {
  color: #205cff;
  font-weight: 600;
}

.intro {
  display: none !important;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #040e4e;
  -webkit-animation: gone 2s ease forwards 4s;
          animation: gone 2s ease forwards 4s;
}

.intro .group {
  opacity: 0;
  -webkit-animation: fade 2s ease forwards 3.5s;
          animation: fade 2s ease forwards 3.5s;
}

@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gone {
  80% {
    opacity: 0;
  }
  100% {
    height: 0;
  }
}

@keyframes gone {
  80% {
    opacity: 0;
  }
  100% {
    height: 0;
  }
}

.intro .logo #sapian {
  width: calc(20vw + 5rem);
  -webkit-animation: fill-line 2s ease forwards 3.5s !important;
          animation: fill-line 2s ease forwards 3.5s !important;
}

.intro .logo #sapian path:nth-child(1) {
  stroke-dasharray: 455.84344482421875px;
  stroke-dashoffset: 455.84344482421875px;
  -webkit-animation: sapian 2s ease forwards;
          animation: sapian 2s ease forwards;
}

.intro .logo #sapian path:nth-child(2) {
  stroke-dasharray: 455.8554992675781px;
  stroke-dashoffset: 455.8554992675781px;
  -webkit-animation: sapian 2s ease forwards 0.3s;
          animation: sapian 2s ease forwards 0.3s;
}

.intro .logo #sapian path:nth-child(3) {
  stroke-dasharray: 246.47296142578125px;
  stroke-dashoffset: 246.47296142578125px;
  -webkit-animation: sapian 2s ease forwards 0.6s;
          animation: sapian 2s ease forwards 0.6s;
}

.intro .logo #sapian path:nth-child(4) {
  stroke-dasharray: 635.5220947265625px;
  stroke-dashoffset: 635.5220947265625px;
  -webkit-animation: sapian 2s ease forwards 0.9s;
          animation: sapian 2s ease forwards 0.9s;
}

.intro .logo #sapian path:nth-child(5) {
  stroke-dasharray: 499.5021057128906px;
  stroke-dashoffset: 499.5021057128906px;
  -webkit-animation: sapian 2s ease forwards 1.2s;
          animation: sapian 2s ease forwards 1.2s;
}

.intro .logo #sapian path:nth-child(6) {
  stroke-dasharray: 559.6683349609375px;
  stroke-dashoffset: 559.6683349609375px;
  -webkit-animation: sapian 2s ease forwards 1.5s;
          animation: sapian 2s ease forwards 1.5s;
}

@-webkit-keyframes sapian {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes sapian {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill-line {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes fill-line {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.bg svg {
  width: 100%;
}

.bg svg #rotate {
  -webkit-animation: rotates 120s forwards infinite;
          animation: rotates 120s forwards infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.bg svg .last {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px) !important;
          transform: translateZ(-100px) !important;
}

.bg svg .mid {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(1000px);
          transform: translateZ(1000px);
}

@-webkit-keyframes rotates {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotates {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.scroll-guid {
  position: absolute;
  z-index: 999;
  width: 40px;
  height: 60px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #04005c;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: scroll-guid 2s ease-in-out infinite;
          animation: scroll-guid 2s ease-in-out infinite;
  -webkit-transition: .3s;
  transition: .3s;
}

.scroll-guid:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: white;
  cursor: pointer;
}

@-webkit-keyframes scroll-guid {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 55px;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes scroll-guid {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 55px;
  }
  100% {
    bottom: 40px;
  }
}

.scroll-guid .scroll {
  position: absolute;
  top: 10px;
  border-radius: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 20px;
  background-color: #04005c;
  -webkit-animation: scroll 2s ease-in-out infinite 2s;
          animation: scroll 2s ease-in-out infinite 2s;
}

@-webkit-keyframes scroll {
  0% {
    top: 10px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 10px;
  }
}

@keyframes scroll {
  0% {
    top: 10px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 10px;
  }
}

main {
  background-color: #fff;
  color: #040820;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  -webkit-animation: to-front 2s ease forwards 5s;
          animation: to-front 2s ease forwards 5s;
}

main .sec-1 {
  height: 100vh;
  position: relative;
}

main .sec-1 .learn-more {
  margin-top: 1rem;
  border: none;
  background-color: #040e4e;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
}

main .sec-1 #sapian-logo {
  width: calc(10vw + 5rem);
}

@-webkit-keyframes to-front {
  to {
    z-index: 3;
  }
}

@keyframes to-front {
  to {
    z-index: 3;
  }
}

main .sec-1 .main-content {
  height: 70vh;
}

main .sec-1 .main-content .heading svg {
  width: 30%;
}

main .sec-2 {
  position: relative;
  color: white;
  background-color: #040e4e;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 5rem;
}

main .sec-2 p {
  letter-spacing: 1.5px;
}

main .sec-2 .map .point path {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: countries 3s ease-in-out infinite;
          animation: countries 3s ease-in-out infinite;
}

@-webkit-keyframes countries {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.1;
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes countries {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.1;
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

main .sec-3 {
  background: url("img/art.svg") no-repeat;
  background-color: #040e4e;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
  color: white;
  overflow-x: hidden;
  font-size: clamp(16px, 1vw, 24px);
}

main .sec-3 .cube {
  position: relative;
  color: #00020c;
  width: 80%;
  height: 500px;
}

main .sec-3 .cube .fun {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-perspective: 500;
          perspective: 500;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

main .sec-3 .cube .fun .man-years {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 280px;
  height: 280px;
  border-radius: 500px;
  border: 2px solid white;
  background-color: rgba(17, 17, 17, 0.5);
}

main .sec-3 .cube .fun .man-years img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(75px) scale(0.5);
          transform: translateZ(75px) scale(0.5);
}

main .sec-3 .cube .fun .clients {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 280px;
  height: 280px;
  border-radius: 500px;
  border: 2px solid white;
  background-color: #111;
  -webkit-box-shadow: 0 0 15px 15px rgba(32, 92, 255, 0.3);
          box-shadow: 0 0 15px 15px rgba(32, 92, 255, 0.3);
}

main .sec-3 .cube .fun .clients img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-80px) rotateY(180deg) scale(0.8);
          transform: translateZ(-80px) rotateY(180deg) scale(0.8);
}

main .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main .what-we-do {
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

main .what-we-do .bg-test {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

main .what-we-do .bg-test img {
  -o-object-fit: cover;
     object-fit: cover;
}

main .what-we-do .bg-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black !important;
  opacity: 0.3;
}

main .what-we-do p {
  font-size: clamp(16px, 8vw, 1.2rem);
  text-shadow: 0 2px 15px rgba(0, 8, 80, 0.8);
}

main .what-we-do .comp-content {
  padding: 2rem 0;
  width: 100%;
}

main .what-we-do .comp-logo {
  width: 340px;
}

main .what-we-do .comp-p {
  opacity: 0;
}

main .what-we-do .companies {
  -webkit-perspective: 1000;
          perspective: 1000;
}

main .what-we-do .companies .call-in:after {
  position: absolute;
  color: #00020c;
  content: 'click me';
  border-radius: 500px;
  z-index: 999;
  width: 150px;
  font-size: 28px;
  top: -72px;
  left: -70px;
  text-align: center;
  padding-top: 55px;
  height: 150px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-animation: call-to ease-in-out 3s infinite;
          animation: call-to ease-in-out 3s infinite;
}

@-webkit-keyframes call-to {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  70% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes call-to {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  70% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

main .what-we-do .companies .company {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: clamp(90px, 10vw, 10rem);
  height: clamp(90px, 10vw, 10rem);
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

main .what-we-do .companies .company:hover {
  z-index: 999 !important;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .what-we-do .companies #qq {
  background: url(img/qq-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

main .what-we-do .companies #sapianCapital {
  background: url(img/sc-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

main .what-we-do .companies #ollorun {
  background: url(img/ol-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

main .what-we-do .companies #sapianHospitality {
  background: url(img/sh-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

main .what-we-do .companies #fgn {
  background: url(img/fgn-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

main .what-we-do .companies #ozeety {
  background: url(img/oz-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

main .what-we-do .companies #flashgroup {
  background: url(img/flash-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

main .what-we-do .flashgroup-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

main .what-we-do .flashgroup-page .flashgroup {
  position: absolute;
  color: white;
  background-image: url("https://res.cloudinary.com/sapiangroup/image/upload/f_auto,q_auto,w_1900/v1603129971/sapian-group/science-fiction-space-wallpaper-awesome-nebula-somewhere-dark-deep-space_jsdzzg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 110vh !important;
  overflow: hidden !important;
  -webkit-animation: bg-move 250s infinite;
          animation: bg-move 250s infinite;
}

main .what-we-do .flashgroup-page .flashgroup #slide-image {
  width: 100%;
}

main .what-we-do .flashgroup-page .flashgroup #slid_img {
  text-align: center;
  min-width: 240px;
  max-width: 300px;
}

main .what-we-do .flashgroup-page .flashgroup .b-word {
  font-weight: 200;
  font-size: 64px;
}

main .what-we-do .flashgroup-page .flashgroup .slideshow {
  padding: 0rem 0 5rem 0;
  width: 100%;
  height: clamp(500px, 50vh, 900px);
  position: relative;
}

main .what-we-do .flashgroup-page .flashgroup .slideshow .side-text {
  margin: auto;
  text-align: center;
  text-justify: inter-word;
  color: #fff;
}

main .what-we-do .flashgroup-page .flashgroup .slideshow #side-text-p {
  text-shadow: 5px 5px 25px rgba(17, 17, 17, 0.7);
  font-size: clamp(11px, 1.5vw, 16px);
}

main .what-we-do .flashgroup-page .flashgroup .slideshow .slider {
  margin-top: 3rem;
  width: 100%;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(25%, rgba(0, 0, 0, 0.8)), color-stop(75%, rgba(0, 0, 0, 0.795956)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.795956) 75%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
}

main .what-we-do .flashgroup-page .flashgroup .slideshow .slider .slide-content {
  height: 150px;
}

@-webkit-keyframes flip-right {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes flip-right {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes flip-left {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes flip-left {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

main .what-we-do .flashgroup-page .flashgroup .slide-btns svg {
  width: 25px;
  height: 25px;
}

main .what-we-do .flashgroup-page .flashgroup .slide-btns svg #inner {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-transition: .3s;
  transition: .3s;
}

main .what-we-do .flashgroup-page .flashgroup .slide-btns svg:hover #inner {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

main .what-we-do .flashgroup-page .flashgroup .slide-btns .next-btn {
  width: 25px;
  height: 25px;
  z-index: 999;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes go-ease-right {
  0% {
    -webkit-transform: translateX(0) rotate(180deg);
            transform: translateX(0) rotate(180deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(400px) rotate(360deg);
            transform: translateX(400px) rotate(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(180deg);
            transform: translateX(0) rotate(180deg);
    opacity: 1;
  }
}

@keyframes go-ease-right {
  0% {
    -webkit-transform: translateX(0) rotate(180deg);
            transform: translateX(0) rotate(180deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(400px) rotate(360deg);
            transform: translateX(400px) rotate(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(180deg);
            transform: translateX(0) rotate(180deg);
    opacity: 1;
  }
}

main .what-we-do .flashgroup-page .flashgroup .slide-btns .prev-btn {
  width: 25px;
  height: 25px;
  z-index: 999;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes go-ease-left {
  0% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-400px) rotate(-180deg);
            transform: translateX(-400px) rotate(-180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes go-ease-left {
  0% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-400px) rotate(-180deg);
            transform: translateX(-400px) rotate(-180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

main .what-we-do .qq-page {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/f_auto,q_auto/v1602873708/sapian-group/bg-qq_v1bmej.jpg") no-repeat;
  background-size: cover;
}

main .what-we-do .sapianCapital-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  color: white;
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/w_1900,f_auto,q_auto/v1602873710/sapian-group/bg-capital2_uro8xi.jpg") no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 5px black;
}

main .what-we-do .sapianCapital-page a {
  background-color: white;
  color: #04005c;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  text-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

main .what-we-do .sapianCapital-page a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 25px #04005c;
          box-shadow: 0 5px 25px #04005c;
}

main .what-we-do .ollorun-page {
  color: #00020c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/f_auto,q_auto/v1598163489/OLLORUN_IMAGES/images/img/BG/BG_04_ollorun_reibrh.jpg") no-repeat;
  background-size: cover;
}

main .what-we-do .ollorun-page a {
  background: #65ffcf;
  background: linear-gradient(18deg, #65ffcf 0%, #3686f3 100%);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  text-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

main .what-we-do .ollorun-page a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 25px rgba(54, 134, 243, 0.3);
          box-shadow: 0 5px 25px rgba(54, 134, 243, 0.3);
}

main .what-we-do .sapianHospitality-page {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/f_auto,q_auto/v1602873707/sapian-group/bg-hospitality_znwjve.png") no-repeat;
  background-size: cover;
}

main .what-we-do .fgn-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/w_1900,f_auto,q_auto/v1602873708/sapian-group/bg-fgn_vyoahy.png") no-repeat;
  background-size: cover;
  color: white;
}

main .what-we-do .fgn-page a {
  background: #65ffcf;
  background: #8e2cf9;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  text-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

main .what-we-do .fgn-page a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 25px rgba(54, 134, 243, 0.3);
          box-shadow: 0 5px 25px rgba(54, 134, 243, 0.3);
}

main .what-we-do .ozeetyBlockchain-page {
  color: white !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/w_auto,f_auto,q_auto/v1598203426/OZEETY_IMAGES/assets/img/bloc3-bg_flashgroup-cryptostations.png") no-repeat;
  background-size: cover;
}

main .what-we-do .ozeetyBlockchain-page h3 {
  font-weight: 100;
  color: #f1b500;
}

main .what-we-do .ozeetyBlockchain-page a {
  background: #f1b500;
  color: white;
  padding: 1rem 2.2rem;
  border-radius: 50px;
  text-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

main .what-we-do .ozeetyBlockchain-page a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 25px rgba(241, 181, 0, 0.5);
          box-shadow: 0 5px 25px rgba(241, 181, 0, 0.5);
}

@-webkit-keyframes open {
  to {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@keyframes open {
  to {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@-webkit-keyframes close {
  from {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
  to {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
}

@keyframes close {
  from {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
  to {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
}

main .what-we-do .close {
  width: 30px;
  height: 30px;
  opacity: 1 !important;
  z-index: 999;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

main .what-we-do .close svg #inner {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-transition: .3s;
  transition: .3s;
}

main .what-we-do .close svg:hover #inner {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

main .workflow {
  position: relative;
  z-index: 999;
  padding: 5% 0;
  background: #061054;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #061054), color-stop(84%, #00020f));
  background: linear-gradient(180deg, #061054 13%, #00020f 84%);
  background-size: cover;
  font-size: 18px;
  color: #fff;
}

main .workflow img {
  -webkit-animation: world 6s infinite;
          animation: world 6s infinite;
}

@-webkit-keyframes world {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes world {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.core-sec {
  color: white;
  text-align: justify;
  text-align-last: center;
  background-color: #010418;
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/f_auto,q_auto,w_1920/v1603223801/sapian-group/black-stone-texture-dark-slate-background.png_n3fna2.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
}

.core-sec .core {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50vh;
}

.core-sec .core div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.core-sec .core .layer-1 {
  z-index: 3;
  width: 17rem;
  height: 17rem;
  background-color: #040e4e;
  border-radius: 500px;
}

.core-sec .core .layer-2 {
  z-index: 2;
  width: 20rem;
  height: 20rem;
  background-color: #040e4e;
  border-radius: 500px;
}

.core-sec .core .layer-3 {
  z-index: 1;
  width: 22rem;
  height: 22rem;
  background-color: #205cff;
  border-radius: 500px;
}

.core-sec .core .glow {
  width: 5rem;
  height: 5rem;
  border-radius: 500px;
  -webkit-box-shadow: 0 0 75px 50px rgba(4, 14, 78, 0.5);
          box-shadow: 0 0 75px 50px rgba(4, 14, 78, 0.5);
  -webkit-animation: glow 3s ease-in-out infinite;
          animation: glow 3s ease-in-out infinite;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
            box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 75px 50px rgba(32, 92, 255, 0.2);
            box-shadow: 0 0 75px 50px rgba(32, 92, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
            box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
            box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 75px 50px rgba(32, 92, 255, 0.2);
            box-shadow: 0 0 75px 50px rgba(32, 92, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
            box-shadow: 0 0 15px 50px rgba(32, 92, 255, 0);
  }
}

.core-sec .core .core-div {
  z-index: 99;
  width: 15rem;
  height: 15rem;
}

.core-sec .core img {
  width: 100%;
}

.footer {
  padding-top: 5rem;
  position: relative;
  z-index: 999;
  background-color: #00020f;
  width: 100%;
  color: white;
}

.footer .logo img {
  width: 260px;
}

.footer .socials img {
  width: 24px;
  height: 24px;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
}

p {
  text-align: justify;
  text-align-last: center;
  word-spacing: -2px;
}

.left-last {
  text-align-last: left !important;
}

@media (min-width: 768px) {
  .s-p {
    text-align-last: center !important;
  }
}
/*# sourceMappingURL=style.css.map */